
body{
    margin: 0%;
    background-color:white;
}


/* here is navigation bar */
nav{
    background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);
    height: 5rem;
    padding: 0.25rem 1.5rem; 
    align-items: center;
    justify-content: space-between; 
    background-color: #90e0ef;
}

.nav_logo
{
   height: 5rem;
   width: 5rem;
   margin: 0px 0px 0px 5px;
}
.nav > div{
    
    align-items: center;
}
.nav_anchor_search{
    border: solid 1px #03045e;
    background-color: #5E60CE;
    color: white;
    border-radius: 2px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow:5px 5px 10px #03045e ;
    transition: 0.75s all; /* animation it will take time that particular seconds */
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
   
    
}
.nav_anchor_search:hover{
    background-color:#0096c7;
    color: white;
    box-shadow:10px 10px 10px #03045e ; /* 1)x value  2)y value  3)blur value  4)colour 5)inset to inner side shadow*/
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
     
}

@media screen and (max-width: 600px){ /*When screen size less than max width heading is hide */
nav h2
 {
    display: none;
}
}
  
/* Animation to title changing automatically */
.name_swap h2:after   /* swapping text by animation we  use after */
{
    content: 'Cryptocurrencies ';      /* here my text which i want to display */
    animation: text 10s infinite;    /*here is text is animation name */
    color: white;
    font-family: cursive;
    font-size: xx-large;
}
@keyframes text
{
    20%{
        content:'Cryptocurrency View';
    }
    40%{
        content: 'Digital Currency';
    }
    60%{
        content: 'Gold 2.0';
    }
    80%{
        content: 'Peer-to-Peer Money';
    }
    100%{
        content: 'DeFi';
    }


}




/* section 1 some data and image */ 
.main{
       
       height: 35rem;
       justify-content: space-around;  /* it works by default horizontal and take space between items*/
       padding: 10px;
       font-family: 'Galada', cursive;
       align-items: center;        /*its flex property to take  the content in center of container or div by default vertical */
       
}

.flex_container{
        display: flex;
        flex-wrap: wrap;  /* adjust the content as per minimization vertically*/
        gap: 2rem;       /* It gives space in between adjusted content */

}


 
 .main > h1{
    font-family: 'Open Sans', sans-serif;
     font-size: xx-large;
     position: relative;
    
}

#cartoon_women{
    height: 20rem;
    width: 30rem;
}


.videos
 {
	width: 50%;
	height: 50%;
	position: absolute;
	object-fit: cover;
	transition: all 150ms linear;
	z-index: 10;
    border-radius: 10px 2px 5px 3px;
    box-shadow: 20px 30px 10px black;
}
.box1 {
	opacity: 1;
}
.box2 {
	opacity: 0;
}
.box3 {
	opacity: 0;
}
.box4{
     opacity: 0;
}
.video_container 
{
	width: 50%;
	height: 50vh;
	
}


@media screen and (max-width:850px) {
    .main >.videos         /*When screen width is less than max width image width is decrese */
    {
       width: 50vw;
       height: 35vw;
    }
    
}


/*Aniamtion to cryptocurrency Slogans or Quotes */

.slogan_swap h1:after{
    content: 'Welcome cryptography next level of digital currency';  
    animation: x 20s infinite;
    color: #ee0987;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;   
}

@keyframes x
{
    20%{
        content: 'Bitcoin most advanced form of money ever created';
        color: #0505e8;
    }
    40%{
        content: 'Bitcoin is evil.'; 
        color: #0992ed;      
    }
    60%{
        content: 'Bitcoin is Money Over Internet Protocol.';
        color: #f00606;
     }
    80%{
        content: 'Bitcoin is the currency of resistance.';
        color: #0cf308;
    }
    100%{
        content: 'What can’t kill Bitcoin, makes it stronger.';
        color: #f04208;
     }
}

    
/* section 2 coins with there values */
.coins{
    background-image: radial-gradient(circle, #de0b83, #d11899, #be2aaf, #a43bc3, #7f4ad5, #625bdd, #4069e1, #0074e1, #0081d5, #0087ba, #00889b, #06877f);
      padding: 1rem;
      overflow: hidden;
      border: 2px solid #3b5998;
      
      
}

.coins > .scroll_animation{
      justify-content: space-around;
      flex-wrap: nowrap;                  /* to show scrollbar */
      justify-content: flex-start;        /* to start from the flex starting from left */ 
     
     /* animation part for shifting cards */
       position: relative; 
       animation-name: animated_scrollbar;   /* here we given the created animation name */
       animation-duration: 20s;              /* assign shifting time */
       animation-timing-function: linear;    /*by using this we given the same speed to animation */
       animation-iteration-count: infinite;  /* by using this animation goes to the loop  again and again*/
       animation-direction: alternate;       /* by using this its change the direction once from left to right or rigth to left */
      

}

.coins  .coin_price_card{
    background-color:#ffff;
    border-radius: 0px 20px;
    padding: 0.2rem 1rem ; 
    margin: 0px 5vw;
    width: 8rem;    /* we are given width for flex shrink */
    flex-shrink: 0;  /* so flex wrap it adjust the card size as per content differently so for same card size we use shrink 0% means no shrink */
    border: 3.5px dotted #6930C3;
    box-shadow: 20px 20px 15px #023e8a;
   
}
.coin_price_card > img{
                  height: 50px;
                  width: 70px;
                  margin-top: 1rem;
}

.coin_price_card > span , h3{
    font-family: 'Send Flowers', cursive;
}
.float_left{
             float: left;

}
.float_right{
              float: right;
             
}

.girl{
    height: 25rem;
    width: 20rem;
}
.crypto_detail{
    height:25rem ;
    width: 55rem;
    margin-left: 15rem;

}




/* section 3 features of coins */
.features{
    
    height: 20rem;
    padding: 1rem;
    justify-content: space-around;
    margin-top: 3rem;
   
}

.features>.card{
    position: relative;
    top: 0px;
    left: 0px;
    padding: 1rem;
    border-radius: 1rem 0rem 1rem;
    text-align: center;
    width: 25vw;
    box-shadow: 10px 10px 10px #03045e ;
    border: 5px solid #48cae4;
    cursor: grab;
   
    
}
.features>.card:hover{
    
    top: -10px;
    left: -10px;
    transition: 0.50s all;
    box-shadow: 30px 10px 10px #03045e ;
    border: 5px solid #0091f7;
    
}


.card > p{
    font-family: 'Patrick Hand', cursive;

}

@media screen and (max-width:800px) {

    .features   /*When screen width is less than max width feature card are columns and shrink the size */
    {
      flex-direction: column;
      align-content: stretch;
    }

    .features >.card
    {
        width: initial;
    }
}

.card1_image
{
   height: 10rem;
   width: 20rem;
   border-radius: 20px;
}
.margin_right{
    height: 10rem;
    width:15rem ;
    margin-right: 9rem;
}

.margin_left{
    height: 10rem;
    width:15rem ;
    margin-left: 9rem;
}

.card_margin_right:hover{

    background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

}

.card_margin_left:hover{
    background-color: #05e8ba;
background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}


/* footer */

.footer{
    background-color: hwb(179 6% 9%);
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    height: 53rem;
    text-align: center;
    margin-top: 75rem;
    background-color: white;
    
   
}



.footer_div{
     background-color: #0091f7;
     height: 10rem;
     width: 50rem;
     margin: -5rem 0rem 0rem 25rem;
     border-radius: 10px;
     box-shadow: 20px 20px 10px black;
      
      position: absolute;          /*to overlap div to another div */
      z-index: 2;
}

.footer_div h1{
    text-align: center;
    text-transform: capitalize;
    color: ghostwhite;
}

section > .footer_div :hover{
    top: -5rem;
    left: -5rem;
    transition: 10s all;
}

#input_text{
    height: 3.5rem;
    width: 35rem;
    border-radius: 5rem;
    text-align: center;
    margin: 0rem 0rem 0rem 3rem;
    box-shadow: 1rem 2rem 3rem black;
    font-weight: bold;
    font-size: large;
    border: 5px solid white;
    color: #0091f7;
   cursor: pointer;

}

#input_btn{
    height: 3.5rem;
    width: 8rem;
    border-radius: 1rem;
    box-shadow: 0.50rem 1rem 2rem black;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    cursor: grab;
   

    
}

.footer_content{
    margin-top: 10rem;
    width: 30%;
}
.footer_content .p{
   font-size: x-large;
    font-weight: bolder;
    letter-spacing: 0.2px;
    
  }
  .footer_content_img{
    width: 70%;
  }

  #bit_purple{
    height: 15rem;
    width: 22rem;
    margin: -10rem 0rem 0rem 70rem;
    border-radius: 10px;
  }

ul{
  list-style: none;
 
  
}
li{
    font-size: large;
    font-weight: bold;
    position: relative;
    text-align: justify;
    
   
  
}

.list_title{
    font-weight: bolder;
    font-style: oblique;
    font-size: large;
    color: white;
    text-transform: uppercase;
    text-align: justify;
    margin-left: 3rem;
    margin-bottom: 2rem;
  

}
#hr2{
      width: 20rem;
}

.fa-brands{
    padding: 0.5rem;
   
}

.fa-facebook{
    color: #3b5998;
    
}

.fa-youtube{
    color: red;
    
   
}

.fa-instagram{
    color: #C13584;
}

.fa-twitter{
  color: #00acee;  
}

.fa-linkedin{
    color: #0077b5;
}


/* here we create a animation part */
@keyframes animated_scrollbar{  /* we use this keyword to create animation and  assign some name */

    from{              /* start a animation*/
        left: 0%;
    }

   to{                 /* end a animation*/
       left: -100%;
   }
}

hr{
   width: 90rem;
}

.follow{
  color: whitesmoke;
    font-weight: bolder;
    font-style: italic;
}